package ${package.ServiceImpl};

import ${package.Entity}.${voClassName};
import ${package.Other}.${dtoClassName};
import ${package.Mapper}.${table.mapperName};
import com.lyw.commonUtil.service.BaseImpl;
import org.springframework.stereotype.Service;
import ${package.Service}.${table.serviceName};
/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${table.serviceImplName} extends BaseImpl<${table.mapperName}, ${voClassName}, ${dtoClassName}> implements ${table.serviceName} {

}