package ${package.Entity};

import com.lyw.commonUtil.vo.BaseVo;
#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
#if(${swagger})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if(${entityLombokModel})
import lombok.Data;
import org.springframework.format.annotation.DateTimeFormat;
import com.fasterxml.jackson.annotation.JsonFormat;
#end

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${entityLombokModel})
@Data
#end
#if(${table.convert})
@TableName("${schemaName}${table.name}")
#end
#if(${activeRecord})
public class ${voClassName} extends BaseVo {
#elseif(${entitySerialVersionUID})
public class ${voClassName} implements Serializable {
#else
public class ${voClassName} {
#end
#if(${entitySerialVersionUID})

    private static final long serialVersionUID = 1L;
#end
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if($field.annotationColumnName.toLowerCase()!="cru"
    && $field.annotationColumnName.toLowerCase()!="crd"
    && $field.annotationColumnName.toLowerCase()!="luu"
    && $field.annotationColumnName.toLowerCase()!="lud")

#if(${field.keyFlag})
#set($keyPropertyName=${field.propertyName})
#end
#if("$!field.comment" != "")
  #if(${swagger})
    @ApiModelProperty("${field.comment}")
  #else
    /**
     * ${field.comment}
     */
  #end
#end
#if(${field.keyFlag})
## 主键
  #if(${field.keyIdentityFlag})
    #if($field.annotationColumnName.toLowerCase() == "id")
    @TableId(value = "${field.annotationColumnName}", type = IdType.AUTO)
    #else
    @TableId(value = "${field.annotationColumnName}")
    #end
  #elseif(!$null.isNull(${idType}) && "$!idType" != "")
    @TableId(value = "${field.annotationColumnName}", type = IdType.${idType})
  #elseif(${field.convert})
    @TableId(value = "${field.annotationColumnName}")
  #end
## 普通字段
#elseif(${field.fill})
## -----   存在字段填充设置   -----
    #if(${field.convert})
    @TableField(value = "${field.annotationColumnName}", fill = FieldFill.${field.fill})
    #else
    @TableField(fill = FieldFill.${field.fill})
    #end
#elseif(${field.convert})
    @TableField(value = "${field.annotationColumnName}")
#end
## 乐观锁注解
#if(${field.versionField})
    @Version
#end
## 逻辑删除注解
#if(${field.logicDeleteField})
    @TableLogic
#end
    #if("${field.propertyType}"=="Date")
    @DateTimeFormat(pattern = #if("${field.type}" == "date")"dd-MM-yyyy"#else"dd-MM-yyyy HH:mm:ss"#end)
    @JsonFormat(pattern = #if("${field.type}" == "date")"dd/MM/yyyy"#else"dd/MM/yyyy HH:mm:ss"#end, timezone = "GMT+8")
    #end
    private #if("${field.propertyType}"=="Blob")String#else${field.propertyType}#end ${field.propertyName}#if("${field.type}" == "char(1)") = "N"#end;
#end
## ----------  END 字段循环遍历  ----------
#end

}
